* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #111;
  --accent-color: #ffb400;
  --font: "Nunito", sans-serif;

  min-width: 360px;
  font-family: var(--font);
}

body {
  background-color: var(--bg-color);
  color: #fff;
}
